<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{/webjars/htmx.org/1.9.12/dist/htmx.min.js}" defer></script>
    <meta charset="UTF-8">
    <title>Service Award Tracker</title>
</head>
<body>
    <div class="container-xl vh-100">
        <div class="row h-100">
            <div class="m-auto text-center">
                <h1>Service Awards Tracker</h1>
                <h4>
                    <a href="/login">Login/Sign-Up</a>
                </h4>
                <p class="mt-5">
                    This website allows you to track your service awards for the <a href="https://dnd.wizards.com/adventurers-league">Adventurers League</a> and share them with others.
                </p>
                <p>
                    The current rules are found in the <a href="https://media.dndbeyond.com/compendium-images/ddal/reference-docs/03-2024/d&d-adventurers-league-service-awards-50th-a_v1.1.pdf">latest service award document</a>
                </p>
            </div>
       </div>
    </div>
</body>
</html>